@model IEnumerable<CreateanApp.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="scheduler"></div>
<script>
    $("scheduler").kendoScheduler({
    date: new Date("2024/04/01")
    dataSource: [
        {
            id:1,
            start: new Date("2024/04/01 8:00 AM"),
            end: new Date("2024/04/01 8:00 AM"),
            title: "open",
            
        }


    ]
    });
</script>

<p>Calendar is supposed to go above here ^^</p>

<body>
    <h2 align="center" style="color: orange;">
        April 2024
    </h2>
    <br />
    <table bgcolor="lightgrey" align="center"
           cellspacing="21" cellpadding="21">
        <caption align="top"></caption>
        <thead>
            <tr>
                <!-- Here we have applied inline style
                     to make it more attractive-->
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>sat</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr></tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
            </tr>
            <tr>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
            </tr>
            <tr>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          
        </tbody>
    </table>
</body>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


